extends layout

block content
    #headerwrap
        .container
            .row
                .col.s12
                    nav.blue.darken-3
                        .nav-wrapper
                            form
                                .input-field
                                    input#search(type='search', required='')
                                    label(for='search')
                                        i.material-icons search
                                    i.material-icons close


    #iconwrap.blue.darken-3
        .container
            .section
                // Icon Section
                .row
                    .col.sm12.m4
                        .icon-block
                            h2.center
                                a(href='#')
                                    i.large.material-icons restaurant
                                    h5.center.white-text Find Food
                    .col.s12.m4
                        .icon-block
                            h2.center
                                a(href='#')
                                    i.large.material-icons healing
                                    h5.center.white-text Find Doctors
                    .col.s12.m4
                        .icon-block
                            h2.center
                                a(href='#')
                                    i.large.material-icons home
                                    h5.center.white-text Find Shelter
                .row
                    .col.sm12.m4
                        .icon-block
                            h2.center
                                a(href='#')
                                    i.large.material-icons work
                                    h5.center.white-text Find Jobs
                    .col.s12.m4
                        .icon-block
                            h2.center
                                a(href='#')
                                    i.large.material-icons account_balance
                                    h5.center.white-text Find Lawyers
                    .col.s12.m4
                        .icon-block
                            h2.center
                                a(href='#')
                                    i.large.material-icons report_problem
                                    h5.center.white-text Fight Addiction
        br
        br

    .container-fluid
        .row
            .col.s12.m6
                h3.center.light-blue-text.text-darken-4 MISSION
                p.flow-text
                    | Community Access expands opportunities for people living with mental health concerns to recover from trauma and discrimination through affordable housing, training, advocacy and healing-focused services. We are built upon the simple truth that people are experts in their own lives.
            .col.s12.m6
                .video-container
                    iframe(width='853', height='480', src='//www.youtube.com/embed/wY0IgBdVML0?rel=0', frameborder='0', allowfullscreen='')

