extends layout

block content
    #headerwrap
        .container
            .row
                .col-lg-6.col-lg-offset-3
                    h1 _______  in  ________
    #iconwrap
        .container
            .section
                // Icon Section
                .row
                    .col.sm12.m4
                        .icon-block
                            h2.center
                                a(href='#')
                                    i.large.material-icons restaurant
                                    h5.center.text-primary-color Find Food
                    .col.s12.m4
                        .icon-block
                            h2.center
                                a(href='#')
                                    i.large.material-icons healing
                                    h5.center Find Doctors
                    .col.s12.m4
                        .icon-block
                            h2.center
                                a(href='#')
                                    i.large.material-icons home
                                    h5.center Find Shelter
                .row
                    .col.sm12.m4
                        .icon-block
                            h2.center
                                a(href='#')
                                    i.large.material-icons work
                                    h5.center Find Jobs
                    .col.s12.m4
                        .icon-block
                            h2.center
                                a(href='#')
                                    i.large.material-icons account_balance
                                    h5.center Find Lawyers
                    .col.s12.m4
                        .icon-block
                            h2.center
                                a(href='#')
                                    i.large.material-icons report_problem
                                    h5.center Fight Addiction
        br
        br

