extends layout

block content
    #headerwrap
        .container
            .row
                .col.s12.m4.input-field
                    select
                        option(value='', selected='') I need
                        option(value='1') Food
                        option(value='2') Advice
                        option(value='3') Assistance
                    label I need
                .col.s12.m4
                    h1 in
                .input-field.col.s12.m4
                    select
                        option(value='', disabled='', selected='') Choose your borough
                        option(value='1') Manhattan
                        option(value='2') Brooklyn
                        option(value='3') Queens
                        option(value='4') Bronx
                        option(value='5') Staten Island
                    label New York City
    #iconwrap
        .container
            .section
                // Icon Section
                .row
                    .col.sm12.m4
                        .icon-block
                            h2.center
                                a(href='#')
                                    i.large.material-icons restaurant
                                    h5.center.text-primary-color Find Food
                    .col.s12.m4
                        .icon-block
                            h2.center
                                a(href='#')
                                    i.large.material-icons healing
                                    h5.center Find Doctors
                    .col.s12.m4
                        .icon-block
                            h2.center
                                a(href='#')
                                    i.large.material-icons home
                                    h5.center Find Shelter
                .row
                    .col.sm12.m4
                        .icon-block
                            h2.center
                                a(href='#')
                                    i.large.material-icons work
                                    h5.center Find Jobs
                    .col.s12.m4
                        .icon-block
                            h2.center
                                a(href='#')
                                    i.large.material-icons account_balance
                                    h5.center Find Lawyers
                    .col.s12.m4
                        .icon-block
                            h2.center
                                a(href='#')
                                    i.large.material-icons report_problem
                                    h5.center Fight Addiction
        br
        br

