doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

  body
    nav
      .nav-wrapper
        img.logo-ca(src='images/logo.png', alt='Community Access Logo')
        ul.right.hide-on-med-and-down
          //li
          //  a(href='#')
          //    i.material-icons.left search
          li
            a.btn.amber(href='#') Login

    block content
    footer
      #footerwrap
        .container
          .row.center
            .col.s12.m4
              p 888-NYC-WELL
            //    can create a call via Twilio to 888-NYC-WELL
            .col.s12.m4
              p Created by Juanita Soranno, Matt Giordanella, Anthony Delgado & Joseph Pulaski for
            .col.s12.m4
                img.responsive-img(src='images/logo.png', alt='Community Access Logo')

  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/materialize/dist/js/materialize.js')
  script(src='/javascripts/main.js')