doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

  body
    nav
      .nav-wrapper.dark-primary-color
        a.brand-logo.center.text-primary-color BounceBack
        ul.right.hide-on-med-and-down
          li
            a(href='#')
              i.material-icons.left search
          li
            a.btn.accent-color(href='#') Login

    block content
    footer
