doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

  body
    nav.blue
      .nav-wrapper
        a.brand-logo.center BounceBack
        ul.right.hide-on-med-and-down
          li
            a(href='#')
              i.material-icons.left search
          li
            a.btn.blue.darken-2(href='#') Login

    block content
    footer
