doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

  body

    .navbar-fixed
      nav.white
        .nav-wrapper
          a(href='/')
           img.logo-ca(src='images/logo.png', alt='Community Access Logo')
          ul.right
            li
              a.btn.amber(href='#') Login

    block content
    footer.page-footer.blue.darken-3
      .container
        .row
          .col.l6.s12
            h5.white-text About Community Access
            p.grey-text.text-lighten-4
              | Founded in 1974, Community Access is a pioneer of supportive housing and social services in NYC for people with mental health concerns. We proudly lead advocacy efforts that rally our community to promote human rights, social justice, and economic opportunities for all.
          .col.l4.offset-l2.s12
            h6.white-text Made with
                span.red-text  ❤
                  span.white-text  by
            ul
              li
                a.grey-text.text-lighten-3(href='#!') Anthony Delgado
              li
                a.grey-text.text-lighten-3(href='#!') Joseph Pulaski
              li
                a.grey-text.text-lighten-3(href='#!') Matt Giordanella
              li
                a.grey-text.text-lighten-3(href='http://www.jsoranno.com') Juanita Soranno
      .footer-copyright
        .container
          | © 2017 Community Access
          //a.grey-text.text-lighten-4.right(href='#!') Made at RCB


  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/materialize/dist/js/materialize.js')
  script(src='/javascripts/main.js')
  script(type='text/javascript', src='javascripts/locations.js')
  script(type='text/javascript', src='javascripts/mapscript.js')
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAqEQmlJFm-bqFypQIalGFRynl7QxI2iO8&callback=initMap')
