extends layout

block content

    #iconwrap.blue.darken-3
        .container
            .section.sidebar-ca
                .row
                    .input-field.col.s12
                        select.icons.white-text
                            option(value='', disabled='', selected='').white-text Select a Service
                            option.left.circle(value='') Food Pantry

                            option.left.circle(value='') Doctor's Office

                            option.left.circle(value='') Shelter

                            option.left.circle(value='') Employment Agency

                            option.left.circle(value='') Law Office

                            option.left.circle(value='') Addict Program

                        label.white-text Find the nearest
                .row#map-cards


            .section.homepage-ca
                .row
                    .col.s12
                        h3.center.white-text Find the nearest
                    .col.s12.m4
                        .icon-block
                            h2.center.food
                                a(href='#')
                                    i.large.material-icons restaurant
                                    h5.center.white-text Food Pantry
                    .col.s12.m4
                        .icon-block
                            h2.center.health
                                a(href='#')
                                    i.large.material-icons healing
                                    h5.center.white-text Doctor's Office
                    .col.s12.m4
                        .icon-block
                            h2.center.home
                                a(href='#')
                                    i.large.material-icons home
                                    h5.center.white-text Shelter
                .row
                    .col.s12.m4
                        .icon-block
                            h2.center.work
                                a(href='#')
                                    i.large.material-icons work
                                    h5.center.white-text Employment Agency
                    .col.s12.m4
                        .icon-block
                            h2.center.law
                                a(href='#')
                                    i.large.material-icons account_balance
                                    h5.center.white-text Law Office
                    .col.s12.m4
                        .icon-block
                            h2.center.addict
                                a(href='#')
                                    i.large.material-icons report_problem
                                    h5.center.white-text Addict Program
        br
        br

    #map
